.article
{
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.article h1
{
    font-weight: 350;
}

.article h2
{
    font-weight: 350;
    font-size: 1.2rem;
}



.article p
{
    line-height: 1.7;
}
