@import "../common/common.scss";

.site-demo-container > div
{
    margin-bottom: 16px;
}

%col-demo-basic
{
    padding: 8px;
    color: white;
    display: flex;
    justify-content: center;
}

.col-demo-light
{
    @extend %col-demo-basic;
    background: rgba(0,160,233,0.7);
}

.col-demo-dark
{
    @extend %col-demo-basic;
    background: #00a0e9;
}

.p
{
    line-height: 1.7;
}